@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

/********** basic rules **********/

:root {
    --fontFamily: 'Raleway', sans-serif;
    --fontSize: 12px;
    --white: #fff;
    --blue: #5385C1;
    --lightGray: #9A9A9A;
    --lightBlue: #d4e0ef;
    --transition: .3s ease;
    --padding: 80px 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 200;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

button {
    background: var(--blue);
    color: var(--white);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #4f4848;
    transition: var(--transition);
}

/********** header **********/

header {
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    border-top: 10px solid var(--blue);
    height: 80vh;
    background-attachment: fixed;
}

.nav {
    margin-top: 50px;
}

nav {
    float: right;
}

nav::after {
    display: block;
    clear: both;
    content: "";
}

nav li {
    display: inline-block;
}

li {
    list-style: none;
}

.banner {
    text-align: center;
    color: var(--white);
    padding: 80px 0;
}

.banner h1 {
    font-size: 3.5rem;
    font-weight: 100;
}

.banner p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1rem;
}

.banner p a {
    text-transform: uppercase;
}

.logo {
    font-size: 1.5rem;
}

nav a li {
    font-size: .9rem;
    margin: 0 30px 0 0;
}

nav:last-child {
    margin-right: 0;
}

/********** intro **********/

.intro {
    padding: var(--padding);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row article {
    flex: 0 0 30%;
    justify-content: space-between;
    border-right: 1px solid #dbdbde;
    margin-right: 25px;
    margin-left: 25px;
}

.row article:last-child {
    margin-right: 0;
    border: none;
}

.row article:first-child {
    margin-left: 0;
}

article h3 {
    color: var(--blue);
    font-size: 1.20rem;
    font-weight: 300;
}

article p {
    font-size: 1rem;
    color: var(--lightGray);
    font-weight: 300;
    margin-top: 20px;
}

/********** team **********/

.team {
    background: var(--blue);
    text-align: center;
    padding: var(--padding);
}

.team .row {
    margin-top: 60px;
}

.team .row .col {
    flex: 0 0 20%;
    border: 1px solid var(--white);
    margin-right: 20px;
    padding: 40px 20px;
}

.team .row .col:last-child {
    margin-right: 0;
}

.col img {
    border-radius: 50%;
}

.team h2 {
    color: var(--white);
    font-size: 2.75rem;
    font-weight: 300;
}

.team p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 100;
}

.team h3 {
    color: var(--white);
    font-size: 1.35rem;
    font-weight: 300;
}

/********** blog **********/

.blog {
    padding: var(--padding);
}

.align-center {
    text-align: center;
}

.blog .row,
.generic-main .row {
    display: flex;
    flex-wrap: wrap;
}

.blog .row .col,
.generic-main .row .col {
    flex: 0 0 45%;
    justify-content: space-between;
}

.blog img,
.generic-main img {
    width: 100%;
    border-radius: 0 !important;
}

.blog h2,
.generic-main h2 {
    font-size: 2.75rem;
    color: var(--blue);
    font-weight: 300;
}

.blog-paragraf {
    font-size: 1rem;
    font-weight: 300;
    color: var(--lightGray);
}

.blog .row,
.generic-main .row {
    margin-top: 60px;
}

.blog h3,
.generic-main h3 {
    font-size: 1.35rem;
    color: var(--blue);
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .row p {
    font-size: 1rem;
    color: var(--lightGray);
}

.line {
    margin-top: 50px;
    color: var(--lightGray);
}

/********** footer **********/

footer a {
    color: var(--blue);
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

footer {
    align-items: center;
    padding-bottom: 60px;
}

footer p {
    color: #bbb;
    font-size: 0.8rem;
}

footer a {
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: underline;
}

.footer-right a {
    font-size: 1.2rem;
    margin-right: 30px;
}

.footer-right a:last-child {
    margin-right: 0;
}

/********** generic - nav **********/

.top-nav {
    background: var(--blue);
    height: 60px;
}

.nav {
    margin-top: 0;
    padding: 10px 0;
}

.logo-generic {
    font-weight: 600;
    font-size: 1rem;
}

.generic-main {
    padding: var(--padding);
}

.top-paragraf {
    margin-top: 50px;
}

/********** responsive **********/

@media (max-width: 768px) {

    header {
        height: 60vh;
    }
    nav .logo a {
        text-align: center;
    }
    nav {
        display: none;
    }
    .nav, .logo a {
        text-align: center;
    }
    header a.navPanelToggle {
        display: inline-block;
        text-decoration: none;
        height: 4em;
        width: 4em;
        z-index: 10003;
        float: right;
    }

    header a.navPanelToggle .fa {
        font-size: 1.25em;
    }

    .banner h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .banner p a {
        text-transform: uppercase;
    }
    .row article {
        flex: 0 0 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    button {
        margin-bottom: 20px;
        width: 90%;
    }
    .team .row .col {
        flex: 0 0 100%;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        margin-right: 0px;
        padding: 20px 10px;
    }
    .blog .row .col,
    .generic-main .row .col {
        flex: 0 0 100%;
    }
    .mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
    .blog button,
    .generic-main button {
        position: relative;
        left: 20px;
    }
    .footer-left,
    .footer-right {
        float: none;
    }
    footer {
        text-align: center;
    }
    .footer-right {
        margin-top: 20px;
    }
}

